body{
	background-color: #456687;
}
	
	h1{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	color: white;

}

#box{
   background-color: brown;
   border:  1px solid black;
   width: 65px;
   height: 30px;
   float: right;
   position: relative;
   bottom: 12px;
   left: 10.5px;
   font-weight: bold;
   text-align: center;
   font-size: 100%;
}
#content{
	margin: 20px;
	float: both;
}
*{
box-sizing: border-box;
}

#corner{
   background-color: aqua;
   border:  1px solid black;
   width: 65px;
   height: 30px;
   float: right;
   position: relative;
   bottom: 12px;
   left: 10px;
   font-weight: bold;
   text-align: center;
   font-size: 100%;
}

#lap{
   background-color: wheat;
   border:  1px solid black;
   width: 65px;
   height: 30px;
   float: right;
   position: relative;
   bottom: 12px;
   left: 10.5px;
   font-weight: bold;
   text-align: center;
   font-size: 90%;
}

.row{
	width: 100%;
}
p{
	font-family: helvitica;
	font-style: italic;
}
@media (min-width: 992px) {
#bb, #sushi, #boder{
	float: left;
	border: 1px solid black;

}
#bb{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 33.33%;
}

#sushi{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 28.34%;
}

#boder{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 28.34%;
}

}

@media (min-width: 768px) and (max-width: 991px) {
	#bb, #sushi, #boder{
	float: left;
	border: 1px solid black;

}
#bb{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 50%;
}

#sushi{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 50%;
}

#boder{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 100%;
}

	
}

@media (max-width: 767px){
	#bb, #sushi, #boder{
	float: left;
	border: 1px solid black;

}
#bb{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 100%;
}

#sushi{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 100%;
}

#boder{
	background-color: grey;
	padding: 10px;
	margin: 20px;
	width: 100%;
}


}